<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../../img/favicon.ico"
	type="image/x-icon">
<head>

<title>DIRIS LIMA SUR - MUESTRAS DERIVADAS AL INS - LRSP</title>

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet" type="text/css"
	href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
	th:href="@{/css/user-form.css}">
<!-- DATA TABLE -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">



<style type="text/css">
.form-control {
	font-size: 12px;
}

.radioB {
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
	font-weight: bold;
}
</style>
<link rel="stylesheet" type="text/css" href="static/css/navbar.css"
	th:href="@{/css/navbar.css}">

<script type="text/javascript">
	function sumar() {

		var total = 0;

		$(".monto").each(function() {
			if (isNaN(parseFloat($(this).val()))) {
				total += 0;
			} else {
				total += parseFloat($(this).val());
			}
		});
		document.getElementById('totalMue').value = total;
	}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		var n = (new Date()).getFullYear()

		var select = document.getElementById("ano");
		for (var i = n; i >= 2022; i--)
			select.options.add(new Option(i, i));

		function obtenerNombreMes(numero) {
			var today = new Date();
			let miFecha = new Date(today.getFullYear(), today.getMonth(), 0);
			if (0 < numero && numero <= 12) {
				miFecha.setMonth(numero - 1);
				return new Intl.DateTimeFormat('es-PE', {
					month : 'long'
				}).format(miFecha);
			} else {
				return null;
			}

		}
		var selectMes = document.getElementById("mes");
		for (var i = 1; i <= 12; i++) {
			console.log(new Option(obtenerNombreMes(i), i))
			selectMes.options.add(new Option(obtenerNombreMes(i), i));
		}

	})
</script>

<script type="text/javascript">
	$(document).ready(function() {

		setTimeout(function() {
			$('#success-alert').hide('slow');
		}, 3000); // <-- time in milliseconds
	})
</script>

</head>
<body>

	<div th:include="etiquetas/header.html" th:remove="tag"></div>
	<div class="container" style="max-width: 70%;">
		<div class="mx-auto col-sm-12 main-section" id="myTab" role="tablist">

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="list" role="tabpanel"
					aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center">MUESTRAS DERIVADAS AL LABORATORIO DE
								REFERENCIA AL INS - LRSP</h4>

						</div>

						<div class="card-body">
							<div class="table-responsive">
								<div class="col-sm-12 col-md-12 col-lg-12 text-center mt-5 mb-5"
									id="contenedor">

									<div id="success-alert"
										th:classappend="'alert-'+ (${clase != null} ? ${clase} : info)"
										th:if="${mensaje != null}" th:text="${mensaje}" class="alert"></div>

									<form action="#" th:action="@{/editarIns}"
										style="font-size: 12px;" th:object="${ins}" class="form"
										method="post">
										<input type="hidden" th:field="*{idMuestras}" id="idMuestras"
											name="idMuestras">

										<div class="form-group row">

											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> AÑO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<select name="anoIns" id="ano" class="form-control">
															<option th:value="${ins.anoIns}" th:text="${ins.anoIns}">
														</select>
													</div>
												</div>

											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> MES </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<select name="mesIns" id="mess" class="form-control"
															style="text-transform: uppercase;" th:field="*{mesIns}"
															onkeyup="javascript:this.value=this.value.toUpperCase();">
															<option value="1">Enero</option>
															<option value="2">Febrero</option>
															<option value="3">Marzo</option>
															<option value="4">Abril</option>
															<option value="5">Mayo</option>
															<option value="6">Junio</option>
															<option value="7">Julio</option>
															<option value="8">Agosto</option>
															<option value="9">Septiembre</option>
															<option value="10">Octubre</option>
															<option value="11">Noviembre</option>
															<option value="12">Diciembre</option>

														</select>
													</div>
												</div>

											</div>

											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> SARAMPIÓN / RUBEOLA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" id="sarampionRubeola"
															th:field="*{sarampionRubeola}" name="sarampionRubeola"
															onkeyup="sumar();" type="number"
															class="form-control monto">
													</div>
												</div>

											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> DENGUE</label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" id="dengueArbovirus"
															th:field="*{dengueArbovirus}" name="dengueArbovirus"
															onkeyup="sumar();" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CD4-CD8 CARGA VIRAL HIV </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															id="cd4Cd8CargaViralHiv"
															th:field="*{cd4Cd8CargaViralHiv}" onkeyup="sumar();"
															name="cd4Cd8CargaViralHiv" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> SÍFILIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="sifilis" name="sifilis" th:field="*{sifilis}"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> HIV -SIDA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" id="hivSida"
															th:field="*{hivSida}" onkeyup="sumar();" name="hivSida"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> BARTONELLA HANSELAE </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="bartonellaHanselae" name="bartonellaHanselae"
															th:field="*{bartonellaHanselae}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> LEISHMANIASIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="leishmaniasis" name="leishmaniasis"
															th:field="*{leishmaniasis}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>

											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> LEPTOSPIROSIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" id="leptospirosis"
															th:field="*{leptospirosis}" onkeyup="sumar();"
															name="leptospirosis" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> VIRUS RESPIRATORIOS - INFLUENZA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="virusRespiratoriosInfluenza"
															name="virusRespiratoriosInfluenza"
															th:field="*{virusRespiratoriosInfluenza}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TOS FERINA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="tosFerina" name="tosFerina" th:field="*{tosFerina}"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> ANTÍGENO PROSTÁTICO ESPECÌFICO (PSA) TOTAL
														</label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="antigenoProsEspePsa" name="antigenoProsEspePsa"
															th:field="*{antigenoProsEspePsa}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> VIRUELA DEL MONO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="viruelaMono" name="viruelaMono"
															th:field="*{viruelaMono}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label>GOTA GRUESA PARA MALARIA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="gotaGruesaMalaria" name="gotaGruesaMalaria"
															th:field="*{gotaGruesaMalaria}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CONTROL DIAGNÓSTICO EN PARASITOLOGÍA
															(HECES) </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="controlDxParasitologia" name="controlDxParasitologia"
															th:field="*{controlDxParasitologia}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TORCH </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="torch" name="torch" type="number" th:field="*{torch}"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> BARTONELLA BACILLIFORMIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="bartonellaBacilliformis"
															th:field="*{bartonellaBacilliformis}"
															name="bartonellaBacilliformis" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> HTLV </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="htlv" name="htlv" type="number" th:field="*{htlv}"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> BRUCELOSIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="brucelosis" name="brucelosis" type="number"
															th:field="*{brucelosis}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TOXOPLASMOSIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="toxoplasmosis" name="toxoplasmosis" type="number"
															th:field="*{toxoplasmosis}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> HEPATITIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="hepatitis" name="hepatitis" type="number"
															th:field="*{hepatitis}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CHIKUNGUNYA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="chicungunya" name="chicungunya" type="number"
															th:field="*{chicungunya}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> ZIKA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="zika" name="zika" type="number" th:field="*{zika}"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> HIDATIDOSIS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="hidatidosis" name="hidatidosis" type="number"
															th:field="*{hidatidosis}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CITOMEGALOVIRUS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="citomegalovirus" name="citomegalovirus" type="number"
															th:field="*{citomegalovirus}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> FIEBRE AMARILLA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="fiebreAmarilla" name="fiebreAmarilla" type="number"
															th:field="*{fiebreAmarilla}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> ENF. MANO PIES COXSACKIE </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{enfManoPieCox}" id="enfManoPieCox"
															name="enfManoPieCox" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CLAMIDIA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{clamidia}" id="clamidia" name="clamidia"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> NEISSERIA GONORREA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{neisseriaGonorrea}" id="neisseriaGonorrea"
															name="neisseriaGonorrea" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> PARALISIS FLACIDA AGUDA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
														    th:field="*{paralisis_flacida_aguda}"
															id="paralisis_flacida_aguda" name="paralisis_flacida_aguda" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> OTRAS PRUEBAS  </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
														    th:field="*{otras_pruebas}"
															id="otras_pruebas" name="otras_pruebas" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											
											
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TOTAL </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" readonly="readonly"
															th:field="*{totalMue}" id="totalMue" name="totalMue"
															type="number" class="form-control">
													</div>
												</div>
											</div>

											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> ESTADO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<select th:field="*{estadoMuestras}" id="estadoMuestras"
															name="estadoMuestras" class="form-control">
															<option th:each="e : ${estado}" th:text="${e.descEstado}"
																th:value="${e.idEstado}">
														</select>
													</div>
												</div>
											</div>


											<div class="col-sm-12 col-md-12 col-lg-12">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-12">
														<button type="submit" id="show" data-toggle="modal"
															class="btn btn-primary" data-target="#saludo"
															th:text="GRABAR"></button>
													</div>

												</div>
											</div>
										</div>

									</form>

								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- row -->

	<!-- Call to Action -->
	<div th:include="etiquetas/footer.html" th:remove="tag"></div>
</body>
</html>