<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../../img/favicon.ico"
	type="image/x-icon">
<head>

<title>DIRIS LIMA SUR - EDITAR MICROBIOLOGIA</title>

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet" type="text/css"
	href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
	th:href="@{/css/user-form.css}">
<!-- DATA TABLE -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">



<style type="text/css">
.form-control {
	font-size: 12px;
}

.radioB {
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
	font-weight: bold;
}
</style>
<link rel="stylesheet" type="text/css" href="static/css/navbar.css"
	th:href="@{/css/navbar.css}">

<script type="text/javascript">
	function sumar() {

		var total = 0;

		$(".monto").each(function() {
			if (isNaN(parseFloat($(this).val()))) {
				total += 0;
			} else {
				total += parseFloat($(this).val());
			}
		});
		document.getElementById('totalMic').value = total;
	}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		var n = (new Date()).getFullYear()

		var select = document.getElementById("ano");
		for (var i = n; i >= 2022; i--)
			select.options.add(new Option(i, i));

		function obtenerNombreMes(numero) {
			var today = new Date();
			let miFecha = new Date(today.getFullYear(), today.getMonth(), 0);
			if (0 < numero && numero <= 12) {
				miFecha.setMonth(numero - 1);
				return new Intl.DateTimeFormat('es-PE', {
					month : 'long'
				}).format(miFecha);
			} else {
				return null;
			}

		}
		var selectMes = document.getElementById("mes");
		for (var i = 1; i <= 12; i++) {
			console.log(new Option(obtenerNombreMes(i), i))
			selectMes.options.add(new Option(obtenerNombreMes(i), i));
		}

	})
</script>

<script type="text/javascript">
	$(document).ready(function() {

		setTimeout(function() {
			$('#success-alert').hide('slow');
		}, 3000); // <-- time in milliseconds
	})
</script>

</head>
<body>

	<div th:include="etiquetas/header.html" th:remove="tag"></div>
	<div class="container" style="max-width: 70%;">
		<div class="mx-auto col-sm-12 main-section" id="myTab" role="tablist">

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="list" role="tabpanel"
					aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4 class="text-center">EDITAR MICROBIOLOGIA</h4>

						</div>

						<div class="card-body">
							<div class="table-responsive">
								<div class="col-sm-12 col-md-12 col-lg-12 text-center mt-5 mb-5"
									id="contenedor">

									<div id="success-alert"
										th:classappend="'alert-'+ (${clase != null} ? ${clase} : info)"
										th:if="${mensaje != null}" th:text="${mensaje}" class="alert"></div>

									<form action="#" th:action="@{/editarMicrobiologia}"
										style="font-size: 12px;" th:object="${microbiologia}"
										class="form" method="post">

										<input type="hidden" name="idMicrobiologia"
											id="idMicrobiologia" th:field="*{idMicrobiologia}">

										<div class="form-group row">

											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> AÑO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<select name="anoMic" id="ano" class="form-control"><option
																th:value="${microbiologia.anoMic}"
																th:text="${microbiologia.anoMic}"></select>
													</div>
												</div>

											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> MES </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<select name="mesMic" id="mesMic" th:field="*{mesMic}"
															class="form-control" style="text-transform: uppercase;"
															onkeyup="javascript:this.value=this.value.toUpperCase();">
															<option value="1">Enero</option>
															<option value="2">Febrero</option>
															<option value="3">Marzo</option>
															<option value="4">Abril</option>
															<option value="5">Mayo</option>
															<option value="6">Junio</option>
															<option value="7">Julio</option>
															<option value="8">Agosto</option>
															<option value="9">Septiembre</option>
															<option value="10">Octubre</option>
															<option value="11">Noviembre</option>
															<option value="12">Diciembre</option>


														</select>
													</div>
												</div>

											</div>

											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> EXAMEN COMPLETO DE ORINA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															th:field="*{examenCompletoOrina}"
															id="examenCompletoOrina" name="examenCompletoOrina"
															onkeyup="sumar();" type="number"
															class="form-control monto">
													</div>
												</div>

											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TINCIÓN GRAM </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" id="tincionGram"
															th:field="*{tincionGram}" name="tincionGram"
															onkeyup="sumar();" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> INVESTIGACIÓN DIRECTA DE HONGOS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															th:field="*{investigacionDirectaHongos}"
															id="investigacionDirectaHongos" onkeyup="sumar();"
															name="investigacionDirectaHongos" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TINCIÓN CON AZUL DE METILENO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{tincionAzulMetileno}"
															id="tincionAzulMetileno" name="tincionAzulMetileno"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> INVESTIGACIÓN DIRECTA DE ÁCAROS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															id="investigacionDirectaAcaros" onkeyup="sumar();"
															th:field="*{investigacionDirectaAcaros}"
															name="investigacionDirectaAcaros" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> UROCULTIVO, IDENT. Y ANTIBIOGRAMA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="urocultivoIdentAntibiograma"
															th:field="*{urocultivoIdentAntibiograma}"
															name="urocultivoIdentAntibiograma" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> COPROCULTIVO, IDENT. Y ANTIBIOGRAMA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="coprocultivoIdentAntibiograma"
															th:field="*{coprocultivoIdentAntibiograma}"
															name="coprocultivoIdentAntibiograma" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> REACCION INFLAMATORIA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="reaccionInflamatoria" name="reaccionInflamatoria"
															th:field="*{reaccionInflamatoria}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> COPROLOGICO FUNCIONAL </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															id="coprologicoFuncional" onkeyup="sumar();"
															th:field="*{coprologicoFuncional}"
															name="coprologicoFuncional" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TEST DE GRAHAM </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{testGraham}" id="testGraham"
															name="testGraham" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> INVESTIGACIÓN DE SANGRE OCULTA EN HECES -
															THEVENON </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="investigacionSangreOcultaHecesThevenon"
															th:field="*{investigacionSangreOcultaHecesThevenon}"
															name="investigacionSangreOcultaHecesThevenon"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> EXÁMEN PARASITOLÓG. DE HECES DIRECTO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															id="examenParasitologHecesDirecto" onkeyup="sumar();"
															th:field="*{examenParasitologHecesDirecto}"
															name="examenParasitologHecesDirecto" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> EXÁMEN PARASITOLOGICO SERIADO (TRES
															MUESTRAS) </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="examenParasitologicoSeriadoTresMuestras"
															th:field="*{examenParasitologicoSeriadoTresMuestras}"
															name="examenParasitologicoSeriadoTresMuestras"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> EXÁMEN DIRECTO SECRECIÓN VAGINAL </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0"
															id="examenDirectoSecrecionVaginal" onkeyup="sumar();"
															th:field="*{examenDirectoSecrecionVaginal}"
															name="examenDirectoSecrecionVaginal" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CULT. DE SEC. VAGINAL </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{cultSecVaginal}" id="cultSecVaginal"
															name="cultSecVaginal" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CULTIVO DE SEC. FARINGEA </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="cultivoSecFaringea" name="cultivoSecFaringea"
															th:field="*{cultivoSecFaringea}" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CULTIVO DE HERIDAS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{cultivoHeridas}" id="cultivoHeridas"
															name="cultivoHeridas" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CULT. DE HONGOS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{cultHongos}" id="cultHongos"
															name="cultHongos" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CULT. DE SEC. URETRAL </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{cultSecUretal}" id="cultSecUretal"
															name="cultSecUretal" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> BK EN ESPUTO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															th:field="*{BkEsputo}" id="BkEsputo" name="BkEsputo"
															type="number" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> DETERMINACIÓN DE PROTEÍNAS EN ORINA (TEST
															DEL ÁCIDO SULFOSALICÍLICO) </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="proteinasOrina" name="proteinasOrina" type="number"
															th:field="*{proteinasOrina}" class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TEST DE FERN. CRISTALIZACIÓN – HELECHO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="testCristalizacionHelecho"
															th:field="*{testCristalizacionHelecho}"
															name="testCristalizacionHelecho" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> CULTIVO PARA MYCOBACTERIUM TUBERCULOSIS -TB </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="cultivoMycobacteriumTb"
															th:field="*{cultivoMycobacteriumTb}"
															name="cultivoMycobacteriumTb" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> OTRAS PRUEBAS </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" onkeyup="sumar();"
															id="otras_pruebas"
															th:field="*{otras_pruebas}"
															name="otras_pruebas" type="number"
															class="form-control monto">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> TOTAL </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<input required="required" value="0" readonly="readonly"
															id="totalMic" name="totalMic" th:field="*{totalMic}"
															type="number" class="form-control">
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-6">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-6">
														<label> ESTADO </label>
													</div>
													<div class="col-sm-12 col-md-12 col-lg-6">
														<select id="estadoMic" name="estadoMic"
															th:field="*{estadoMic}" class="form-control">
															<option th:each="e : ${estado}" th:text="${e.descEstado}"
																th:value="${e.idEstado}">
														</select>
													</div>
												</div>
											</div>

											<div class="col-sm-12 col-md-12 col-lg-12">
												<div class="form-group row">
													<div class="col-sm-12 col-md-12 col-lg-12">
														<button type="submit" id="show" data-toggle="modal"
															class="btn btn-primary" data-target="#saludo"
															th:text="GRABAR"></button>
													</div>

												</div>
											</div>
										</div>

									</form>

								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- row -->

	<!-- Call to Action -->
	<div th:include="etiquetas/footer.html" th:remove="tag"></div>
</body>
</html>