@media ( min-width : 1200px) {
	.container {
		max-width: 85%;
	}
}

@media ( min-width : 992px) {
	.container {
		max-width: 85%;
	}
}

@media ( min-width : 768px) {
	.container {
		max-width: 85%;
	}
}

@media ( min-width : 576px) {
	.container {
		max-width: 85%;
		
	}
}
.container{
	
	font-size: 10px;
}

.card-header{
	background-color: #174D92;
	}
	